
*{
    margin: 0;
    padding: 0;
}
/* Nav Ber */


nav ul li{
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    gap:50px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 180px 40px 200px;
}
header{
    background-color: #FFF8F3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
}
.nav-title{
    font-size: 45px;
    font-weight: bold;
}
.orange{
    color: #FD6E0A;
}
.primary{
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
}

/* Header Style */

.banner{
    padding: 0 0 0 200px ;
    display: flex;
    align-items: center;
    gap: 160px;
}
.banner-greet{
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
}
.banner-desc{
    font-size: 18px;
    margin-bottom: 10px;
}
.gap{
    margin-right: 30px;
}
.banner img{
    margin-right: 30px;
}

