
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Nav Ber */


nav ul li{
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    gap:50px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 180px 40px 200px;
}
header{
    background-color: #FFF8F3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
}
.nav-title{
    font-size: 45px;
    font-weight: bold;
}
.orange{
    color: #FD6E0A;
}
.primary{
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
}

/* Header Style */

.banner{
    padding-left: 200px;
    display: flex;
    align-items: center;
    gap: 160px;
    
}
.banner-greet{
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
}
.banner-desc{
    font-size: 18px;
    margin-bottom: 10px;
}
.gap{
    margin-right: 30px;
}
.banner img{
    margin-right: 30px;
    
}
/* About Me Section */

.main{
     
}
section{
    margin: 120px 230px;
    border-radius: 5px;
    text-align: center;
}
.about{
    
    background-color: #FFF8F3;
   
    padding: 130px 150px;
}
.about-title{
    font-size: 35px;
    margin-bottom: 30px;
}
.about-desc{
    font-size: 18px;
    margin-bottom: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.details , .value{
    font-size: 20px;
}

/* What I do Section */
.what-i-do-title{
    font-size: 35px;
    margin-bottom: 30px;
}
.what-i-do-desc{
    padding: 0 40px;
    font-size: 18px;
    margin-bottom: 50px;
}
.skill{
    padding: 30px;
    background-color: #FFFFFF;
    border: 1px solid wheat;
    border-radius: 5px;
    text-align: left;
    

}
.skills{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px; */
    display: flex;
    gap: 30px;
}

/* Resume Section */
.resume-title{
    font-size: 35px;
    margin-bottom: 100px;
}
.edu-title{
    font-size: 30px;
    margin-bottom: 30px;
}
.container-edu-title{
    font-size: 25px;
    margin-top: 30px;
    
}
.container-edu-institude{
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 10px;
}
.con-desc{
    margin-bottom: 30px;
}
.edu-ex{
    text-align: left;
    display: flex;
    gap: 40px;

}
/* Footer */
input, textarea{
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 24px;
    width: 80%;
    border: 0;
    /* margin-top: 20px; */
}
footer{
    display: flex;
    padding: 130px 230px;
    gap: 120px;
    background-color: #FFF8F3;

}
.massege h2,.connect h2{
    margin-bottom: 20px;
}
.connect ul li{
    list-style-type: none;
}
.connect ul{
    margin-top: 20px;
    display: flex;
    gap: 24px;
}